<h1>Login</h1>

<form id="loginForm">
    <label for="">Usuario</label>
    <input type="email" name="email">
    <label for="">Password</label>
    <input type="password" name="password">
    <button type="submit">Iniciar Sesion</button>

</form>

<br>
<br>
<br>
<a href="/auth/github">Entrar Con Github</a>
<br>
<br>
<br>



<a href="forgotPassword">Restaurar Contraseña</a>

<script src="/js/login.js"></script>