<h1>Login</h1>

<form id="loginForm">
    <label for="">Usuario</label>
    <input type="email" name="email">
    <label for="">Password</label>
    <input type="password" name="password">
    <button type="submit">Iniciar Sesion</button>

</form>

<br>
<br>
<br>
<a href="/auth/github"><i class="fa-brands fa-github"></i>Entrar Con Github</a>
<br>
<br>
<br>
<a href="/auth/google"><i class="fa-brands fa-google-plus-g"></i>Entrar Con Google</a>
<br>
<br>
<br>
<script src="https://kit.fontawesome.com/565b566085.js" crossorigin="anonymous"></script>


<a href="forgotPassword">Restaurar Contraseña</a>

<script src="/js/login.js"></script>